<%= render 'layouts/navbar' %>

<%# byebug %>

<% if flash[:message]%>
  <div class="alert alert-danger alert-dismissible show" role="alert">
    <span class="error"><%= flash[:message] %></span>
  </div>
<% elsif flash[:error]%>
  <div class="alert alert-danger alert-dismissible show" role="alert">
    <span class="error"><%= flash[:error] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<% if valid_secret_id? %>
  <div class="mx-4 my-4">
    <h2>Please enter your preferences for these times.</h2>
    <br>
    <%= form_for(@ranking, :url => project_participant_ranking_path) do |f| %>
    <%#= form_for(@ranking, :url => {:method => 'post'}) do |f| %>
      <table style="width:65%">
        <thead>
          <tr>
            <th>Time</th>
            <th>Can't Go</th>
            <th>Okay</th>
            <th>Preferred</th>
          </tr>
        </thead>

        <tbody>
          <% @times.each do |time| %>
            <tr>
              <td> <%=time.date_time.to_formatted_s(:long)%></td>
              <td><%= radio_button_tag time.id, '3' %></td>
              <td><%= radio_button_tag time.id, '2' %></td>
              <td><%= radio_button_tag time.id, '1' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <%= f.submit "Submit Preferences", class:"btn btn-primary"%>
      <%= link_to 'Back', project_participant_ranking_path, class:"btn btn-primary" %>
      </div>
  <% end %>
<% end %>