<%= render 'layouts/navbar' %>
<p id="notice"><%= notice %></p>

<div class="mx-4 my-4">
  <h2>Rankings</h2>

  <table style="width:65%">
    <thead>
    <tr>
      <th>Time</th>
      <th>Rank</th>
    </tr>
    </thead>

    <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
<!--        <td> <%#=@times.find(ranking.project_time_id).date_time.to_formatted_s(:long)%></td>-->
        <td>temp</td>
        <td><%= ranking.rank %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_project_participant_ranking_path(
      @participant.project_id, @participant.id, :secret_id => @participant.secret_id), class: "btn btn-primary" %>
  <%= link_to 'Back', project_participants_path, class: "btn btn-primary" %>

</div>
