<%= render 'layouts/navbar' %>
<% if flash[:success] %>
  <div class="alert alert-success alert-dismissible show" role="alert">
    <span class="error"><%= flash[:success] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-success alert-dismissible show" role="alert" style = "background-color:#FFA533;">
    <span class="error"><%= flash[:error] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<h1>Editing Matching</h1>

<p id="notice"><%= notice %></p>

<% if @matching %>

<table style="width:100%">
	<tbody>
	<tr>
		<td><b>Event</b></td>
		<td><b>People</b></td>
		<td><b>Time</b></td>
	</tr>

  <% @parsed_matching["schedule"].each do |event|  %>
    <tr>
      <td><%= event["event_name"] %></td>
      <td><%= event["people_called"].join(', ') %> </td>
      <td><%= event["timestamp"] %></td>
    </tr>

  <% end %>
	</tbody>
</table>
  <%= link_to 'Run algorithm again', edit_project_matching_path(@matching.project) %>

<% else %>
	<% if !@proj_exists %>
		No such project exists.
	<% elsif !@permission %>
		Permission denied.
  <% elsif !@participants_are_set %>
    Not eligible to match. There are no participants.
  <% elsif !@times_are_set %>
    Not eligible to match. There are no times set for this project.
	<% elsif !@all_submitted_preferences %>
  	Not eligible to match. Not everyone has submitted preferences.
	<% else %>
		All participants have submitted preferences. Ready to match.
		<%= button_to 'Match!', project_matching_path(@project.id) %>
  <% end %>
<% end %>

<br><br>
<% if @proj_exists %>
	<%= link_to 'Back', project_path(@project) %>
<% end %>
