<%= render 'layouts/navbar' %>
<h1>Editing Matching</h1>

<p id="notice"><%= notice %></p>

<% if @is_matching %>

<table style="width:100%">
	<tbody>
	<tr>
		<td><b>Event</b></td>
		<td><b>People</b></td>
		<td><b>Time</b></td>
	</tr>

  <% @parsed_matching["schedule"].each do |event|  %>
    <tr>
      <td><%= event["event_name"] %></td>
      <td><%= event["people_called"].join(', ') %> </td>
      <td><%= event["timestamp"] %></td>
    </tr>

  <% end %>
	</tbody>
</table>
  <%= link_to 'Run algorithm again', edit_project_matching_path(@matching.project) %>

<% else %>
	<% if !@proj_exists %>
		No such project exists.
	<% elsif !@permission %>
		Permission denied.
	<% elsif !@eligible_to_match %>
  	No matching for this project.
		Not everyone has submitted preferences.
	<% else %>
	  No matching for this project.
		Ready to match.
		<%= button_to 'Match!', project_matching_path(@project.id) %>
  <% end %>
<% end %>

<br><br>
<% if @proj_exists %>
	<%= link_to 'Back', project_path(@project) %>
<% end %>
