<% if @proj_exists %>
  <% @title = "#{@project.project_name} Matching - MultiMeet" %>
<% end %>
<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<div class="matchings">
  <div class="editing-matching jumbotron shadow white-bg">
    <h1>Matching</h1>
    <p id="notice"><%= notice %></p>

    <% if @matching %>
      <table class="table">
        <tbody>
        <tr>
          <td><b>Time</b></td>
      		<td><b>People</b></td>
      	</tr>

				<% @parsed_matching["schedule"].each_with_index do |event, index|  %>
					<tr>
						<td>
							<div class="btn-group">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<%= Time.parse(event["timestamp"]).strftime("%A, %B %d %Y %I:%M %p") %>
								</button>
								<div class="dropdown-menu">
									<% @times.where(is_date: false).each do |time| %>
										<a style="text-decoration: none">
											<%= link_to time.date_time.strftime("%A, %B %d %Y %I:%M %p"), modify_project_matching_path(@project, [[index], [time.date_time.strftime("%A, %B %d %Y %I:%M %p")]]), method: :modify%>
										</a>
									<% end %>
								</div>
							</div>
						</td>
						<td><%= event["people_called"].join(', ') %> </td>
					</tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <% if !@proj_exists %>
        No such project exists.
      <% elsif !@permission %>
        Permission denied.
      <% elsif @all_participants_ids.size == 0 %>
        Not eligible to match. There are no participants.
      <% elsif @all_project_time_ids.size == 0 %>
        Not eligible to match. There are no times set for this project.
      <% elsif !(@all_submitted_preferences) %>
        Not eligible to match. Not everyone has submitted preferences.
      <% else %>
        All participants have submitted preferences. Ready to match.
        <%= button_to 'Match!', project_matching_path(@project), class:"btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <% if @matching %>
    <div class="notify-matching jumbotron shadow white-bg">
      <h1>Email Participants</h1>
      <%= form_tag email_project_matching_path, :method => :post, class: "email-body" do %>
        <%= label_tag :email_subject, 'Subject', class: "font-weight-bold" %>
        <%= text_field_tag :email_subject, 'Final Matching Result For '.concat(@project.project_name) , class: 'form-control email-subject'%>
        <%= label_tag :email_body, 'Body', class: "font-weight-bold" %>
        <%= text_area_tag :email_body, 'Hi there, here is your assigned time for '.concat(@project.project_name), rows: 7, class: "form-control" %>
        <%= submit_tag "Send email to participants", class: "btn btn-secondary" %>
      <% end %>
    </div>
  <% end %>

  <div class="matching-actions jumbotron shadow white-bg">
    <% if @proj_exists %>
      <%= link_to 'Back to project', project_path(@project), class:"btn btn-primary" %>
    <% end %>
    <% if @matching %>
      <%= button_to 'Run algorithm again', project_matching_path(@matching.project), class:"btn btn-primary" %>
      <%= link_to 'Download CSV', project_matching_path(@project, format: "csv"), class: "btn btn-info" %>
    <% end %>
  </div>

</div>

