
<% if flash[:success] %>
   <div class="alert alert-success alert-dismissible show" role="alert">
     <span class="error"><%= flash[:success] %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
<% end %>

<% if flash[:error] %>
   <div class="alert alert-success alert-dismissible show" role="alert" style = "background-color:#FFA533;">
     <span class="error"><%= flash[:error] %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
<% end %>

<%= render 'layouts/navbar' %>

<div class="mx-4 my-4">
  <p id="notice"><%= notice %></p>

  <h1>Listing Participants</h1>
  <%= form_for(@participant, :url => project_participants_path) do |f| %>
    <table style="width:100%">
      <thead>
        <tr>
          <th>Participant Email</th>
          <th>Last Responded</th>
          <th>Actions</th>
        </tr>
      </thead>

<!--      <tbody>-->
        <%# @participants.each do |participant| %>
<!--          <tr>-->
<!--            <td><%#= participant.email %></td>-->
<!--            <td><%#= link_to 'DELETE', project_participant_path(participant.project_id, participant.id), method: :delete, url: project_participants_path, class:"btn btn-danger"%></td>-->
<!--            <td> <%#= link_to 'Edit Ranking', project_participant_ranking_path(participant.project_id, participant.id), class:"btn btn-success" %> </td>-->
<!--          </tr>-->
        <%# end %>
<!--      </tbody>-->

      <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant.email %></td>
          <td><%= participant.last_responded ? participant.last_responded : 'No response yet'%></td>
          <td><%= link_to 'Generate Rankings', edit_project_participant_path(participant.project_id, participant.id), class:"btn btn-primary"%></td>
          <td><%= link_to 'DELETE', project_participant_path(participant.project_id, participant.id), method: :delete, url: project_participants_path, class:"btn btn-danger"%></td>
          <td> <%= link_to 'Edit Ranking', project_participant_ranking_path(participant.project_id, participant.id), class:"btn btn-success" %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% if @participant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

        <ul>
          <% @participant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% else %>
      <div class="action" style="width:500px">
        <br>
        <%= f.text_field :email, type: "email", placeholder: "Email", class: "form-control", :required => 'required'%>
        <%= f.submit "Add New Participant", class:"btn btn-primary"  %></td>
      </div>
    <% end %>
  <% end %>
  <br>
  
  <h1>Notify Participants</h1>
  <%= form_tag email_project_participants_path, :method => :post, class: "email-body" do %>
    <%= label_tag :email_subject, 'Email Subject', class: "font-weight-bold" %>
    <%= text_field_tag :email_subject, 'Choose available times for '.concat(@project.project_name) , class: 'form-control email-subject'%>
    <%= label_tag :email_body, 'Email Body', class: "font-weight-bold" %>
    <%= text_area_tag :email_body, '', placeholder: "Add message here. For each participant, a unique link to rank preferences will be appended to the body.", rows: 7, class: "form-control" %>
    <%= submit_tag "Send email to participants", class: "btn btn-secondary" %>
  <% end %>
  <br>
  <%= link_to 'Back to All Projects', projects_path, class:"btn btn-info" %>
</div>
