
<% if flash[:success] %>
   <div class="alert alert-success alert-dismissible show" role="alert">
     <span class="error"><%= flash[:success] %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
<% end %>

<% if flash[:error] %>
   <div class="alert alert-success alert-dismissible show" role="alert" style = "background-color:#FFA533;">
     <span class="error"><%= flash[:error] %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
<% end %>

<%= render 'layouts/navbar' %>

<div class="mx-4 my-4">
  <p id="notice"><%= notice %></p>

  <h1>Listing Participants</h1>
  <%= form_for(@participant, :url => project_participants_path) do |f| %>
    <table style="width:65%">
      <thead>
        <tr>
          <th>Participant Email</th>
        </tr>
      </thead>

      <tbody>
        <% @participants.each do |participant| %>
          <tr>
            <td> <%= participant.email %> </td>
            <td><%= link_to 'DELETE', display_project_participants_path(participant.project_id, participant.id), method: :delete, url: project_participants_path, class:"btn btn-danger"%></td>
          </tr>
        <% end %>
      </tbody>
      <% if @participant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

          <ul>
            <% @participant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% else %>
        <div class="action">
          <td> <%= f.text_field :email, type: "email", placeholder: "Email", class: "form-control", :required => 'required'%></td>
          <td> <%= f.submit "Add New Participant", class:"btn btn-primary"  %></td>
        </div>
      <% end %>
    </table>
  <% end %>
  <br>
  <%= link_to 'Back to All Projects', projects_path, class:"btn btn-info" %>
</div>
