<% if flash[:success] %>
   <div class="alert alert-success alert-dismissible show" role="alert">
     <span class="error"><%= flash[:success] %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
<% end %>

<%= render 'layouts/navbar' %>

<div class="user-container">
  <div class="jumbotron">

    <h1>Editing Participant</h1>

    <%= form_for(@participant) do |f| %>

      <div class="form-group">
        <%= f.text_field :email, placeholder: "New Participant Email", class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "Confirm Editing", class:"btn btn-primary"  %>
        <%= link_to 'Cancel', project_participants_path, class:"btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>>
