<%# <%= stylesheet_link_tag "application" %>

<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<div class="mx-4 my-4">
  <%= link_to 'Enter Manually', display_project_participants_path(params[:project_id]), class:"btn btn-primary" %>
  <br>
  <br>
  <%= link_to 'Back to All Projects', projects_path, class:"btn btn-info" %>
</div> %>
