<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<div class="user-container">
  <div class="jumbotron times-index shadow white-bg">

    <h1>Editing Participant</h1>

    <%= form_for([@project, @participant]) do |f| %>

      <div class="form-group">
        <%= f.text_field :email, placeholder: "Participant Email", class: "form-control"%>
        <%= f.number_field :match_degree, type: "number", min:"1", placeholder: "Match Degree", class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "Update Participant", class:"btn btn-success"  %>
        <%= link_to 'Cancel', project_participants_path, class:"btn btn-primary" %>
        <%= link_to 'Delete Participant', project_participant_path(@participant.project_id, @participant.id), method: :delete, url: project_participants_path, class:"btn btn-danger"%></td>
      </div>
    <% end %>

  </div>
</div>
