<%= stylesheet_link_tag "application" %>
<% @title = "Rename #{@project.project_name} - MultiMeet" %>
<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<div class="user-container">
  <div class="jumbotron">

    <h4>Renaming Project</h4>

    <%= form_for(@project) do |f| %>
      <div class="form-group">
        <%= f.text_field :project_name, placeholder: "New Project Name", class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "Confirm Renaming", class:"btn btn-primary"  %>
        <%= link_to 'Cancel', project_path(@project), class:"btn btn-secondary" %>
      </div>
    <% end %>

  </div>
</div>
