<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<head>
<% @title = "Project Dashboard - MultiMeet" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.menu {
}

.main {
  border-left: 1px solid #e6e6e6;
}

.card {
  padding: 0px;
  margin: 15px;
}

</style>
</head>

<style>
  span.proj { position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  transition: 0.5s;}
  span:hover {background-color: #42bff4;
  opacity: 0.5;
color: white;}
</style>

<style>
  span1.proj1 { position:absolute;
  width:100%;
  height:100%;
  top:0;
  hover:1;
  left: 0;
  transition: 0.5s;}
  span1:hover {background-color: #cccccc;
    opacity: 0.5;
  color: white;}
</style>

<div class="container-fluid">
<% if logged_in? %>
  <div class="header"><h1>Project Dashboard</h1></div>
  <% if @projects %>
    <div class="row">
    <div class="menu col-md-3 d-none d-md-block">
      <p>Welcome to MultiMatch! Click the projects on the right to show or edit.</p>
    </div>
    <div class="main col-md-9 row">
      <div class="row">
        <div class="card col-md-5 mx-5 mx-md-3" style="background-color:white;">
          <div class="card-body" id="bottom" style="border-style: dashed; border-color: #1a53ff">
            <a href="<%=new_project_path%>" style="text-decoration: none">
              <h3 style="color: #1a53ff">Add New Project</h3><span class="proj"></span>
            </a>
          </div>
        </div>
        <% @projects.each do |project| %>
          <div class="card col-md-5 mx-5 mx-md-3" style="background-color:#ffffff;">
            <div class="card-header" style="background-color: #FFFAFA">
              <a href= "<%=project_path(project.id)%>" style="text-decoration: none">
                <span1 class="proj1"></span1>
                <strong style="color: #222222"><%= project.project_name %></strong>
              </a>
            </div>
            <div class="card-body" id="bottom">
                <p style="color: black;">
                  <%= num_responded(project.id) %> /
                  <%= project.participants.size %> participants responded
                </p>
              <div class="progress">

                <% if responded(project.id)*100 > 75 %>
                  <div class="progress-bar bg-success" role="progressbar" style= "width: <%=responded(project.id)*100%>%" aria-valuenow= "<%=responded(project.id)*100%>" aria-valuemin="0" aria-valuemax="100"></div>
                <% elsif responded(project.id)*100 > 50 %>
                  <div class="progress-bar bg-info" role="progressbar" style= "width: <%=responded(project.id)*100%>%" aria-valuenow= "<%=responded(project.id)*100%>" aria-valuemin="0" aria-valuemax="100"></div>
                <% elsif responded(project.id)*100 > 25 %>
                  <div class="progress-bar bg-warning" role="progressbar" style= "width: <%=responded(project.id)*100%>%" aria-valuenow= "<%=responded(project.id)*100%>" aria-valuemin="0" aria-valuemax="100"></div>
                <% else %>
                  <div class="progress-bar bg-danger" role="progressbar" style= "width: <%=responded(project.id)*100%>%" aria-valuenow= "<%=responded(project.id)*100%>" aria-valuemin="0" aria-valuemax="100"></div>
                <% end %>

              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
    </div> <!-- row -->
    <% end %>
<% else %>
  <div class="mx-4 my-4">
    <p>
      No projects available.
      <br>
      Please <strong>login</strong> or <strong>sign up</strong> for a new account!
    </p>
  </div>
<% end %>
</div> <!-- container -->