<% if flash[:success] %>
   <div class="alert alert-success alert-dismissible show" role="alert">
     <span class="error"><%= flash[:success] %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
<% end %>

<%= render 'layouts/navbar' %>
<style>
  span{ position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;}
</style>


<% if logged_in? %>
  <div class="mx-4 my-4">
    <p>Welcome to MultiMatch!</p></div>
  <div class="project-header mx-4 my-4" >All Projects</div>
  <% if @projects %>
    <div class="mx-4 my-4">
      <div class="card" style="width: 25%; background-color:#f2f2f2; margin:15px">
        <div class="card-body" id="bottom" style="border-style: dotted; border-color: #41b5f4">
          <h3 style="color: #41b5f4">Add New Project</h3>
          <a href= <%=new_project_path%>><span></span></a>
        </div>
      </div>
      <div class="row box-row">
        <% @projects.each do |project| %>
          <div class="card" style="width: 45%; background-color:#f2f2f2; margin:30px">
            <div class="card-body" id="bottom">
              <h3> <%= project.project_name%></h3>
              <p> Project ID: <%= project.id %></p>
              <a href= <%=project_path(project.id)%>><span></span></a>
            </div>
          </div>
        <% end%>
      </div>
  </div>
<% else %>
  <div class="mx-4 my-4">
    <p>
      No projects available.
      <br>
      Please <strong>login</strong> or <strong>sign up</strong> for a new account!
    </p>
  </div>
<% end %>
<% end %>
