<%= render 'layouts/navbar' %>
<%= render 'layouts/alerts' %>

<% if logged_in? %>
  <div class="mx-4 my-4">
    <p>Welcome to MultiMatch!</p></div>
  <div class="project-header mx-4 my-4">All Projects</div>
  <% if @projects %>
    <div class="mx-4 my-4">
      <%= link_to 'New Project', new_project_path, class:"btn btn-primary" %>
      <br>

      <table style="width:50%">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Project Number</th>
            <th>Show</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr>
            <td> <%= project.project_name %> </td>
            <td> <%= project.id %> </td>
            <td> <%= link_to 'Show', project, class:"btn btn-info" %> </td>
            <td> <%= link_to 'Edit', edit_project_path(project.id), class:"btn btn-primary" %> </td>
            <td> <%= link_to 'Roster', project_participants_path(project.id), class:"btn btn-success" %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  <% end %>
  </div>
<% else %>
  <div class="mx-4 my-4">
    <p>
      No projects available.
      <br>
      Please <strong>login</strong> or <strong>sign up</strong> for a new account!
    </p>
  </div>
<% end %>
