<%= render 'navbar' %>
<div class="jumbotron">
  <p id="notice"><%= notice %></p>
  <h1>List of Times</h1>
  
  <% if flash[:message] %>
     <div class="alert alert-success">
       <%= flash[:message] %>
     </div>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @times.each do |time| %>
        <tr>
        <% if time.is_date %>
          <td>Date <%= time.date_time.to_date %></td>
        <% else %>
          <td>Time <%= time.date_time %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Back to Project', project_path(@project_id), class:"btn btn-primary"%>
  <%= link_to 'New Time', new_project_time_path, class:"btn btn-primary"%>
</div>