<%= render 'layouts/navbar' %>
<div class="jumbotron">
  <h1>Project Times</h1>
  
  <div class="current-duration">
    <% if !@duration.blank? %>
      <p><strong>Current Timeslot Duration:</strong> <%= @duration %> minutes</p>
    <% else %>
      <p><strong>Current Timeslot Duration:</strong> Not set yet</p>
    <% end %>
  </div>
  
  <% if flash[:message] %>
     <div class="alert alert-success alert-dismissible show" role="alert">
       <strong>Added:</strong> <%= flash[:message] %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
       </button>
     </div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-danger alert-dismissible show" role="alert">
      <div class="error"><strong>Unable to add:</strong> <%= flash[:error] %></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <% end %>
  
  <div class="project-times-table">
    <% @times.each do |time| %>
      <% if time.is_date %>
          <div class="project-times-dateentry list-group-item list-group-item-primary">
            <strong>
              <%= time.date_time.strftime("%A, %B %d %Y") %>
            </strong>
          </div>
      <% else %>
          <div class="project-times-timeentry list-group-item py-2">
            <span>
              <b>Start:</b>
              <%= time.date_time.strftime("%I:%M %p")%>
            </span>
            <span>
              <b>End:</b>
              <%= (time.date_time + @duration.minutes).strftime("%I:%M %p") %>
            </span>
          </div>
      <% end %>
    <% end %>
  </div>
  
  
  <%= link_to 'Back to project', project_path(@project_id), class:"btn btn-secondary"%>
  <% if !@times.empty? %>
    <%= link_to 'Reselect Times', destroy_project_times_path, method: :delete, data: {confirm: "Are you sure? Choosing 'OK' will.. \n- Delete all saved times for the project. \n- Reset duration."}, class:"btn btn-danger" %>
  <% end %>
  <%= link_to 'Add new time', new_project_time_path, class:"btn btn-primary"%>
</div>